<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Help Page</title>
</head>
<body>
  <p>
    {{> header}}
  </p>
  <h1>{{ pageTitle }}</h1>
  <p>{{ currentYear }}</p>

  {{> footer  }}
</body>
</html>
